<?xml version="1.0"?>
<model>
  <name>cdpr_platform</name>
  <version>0.1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>CDPR Simulation Team</name>
    <email>cdpr@example.com</email>
  </author>
  <description>Fifty-kilogram one-meter cubical CDPR moving platform with force plugin.</description>
</model>
