<launch>
  <arg name="model_type" default="1" doc="0 classical rigid cable model, 1 hybrid catenary-elastic model"/>
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="use_sim_time" default="true"/>

  <param name="/use_sim_time" value="$(arg use_sim_time)"/>
  <rosparam command="load" file="$(find cdpr_gazebo)/config/cdpr_params.yaml"/>
  <param name="/cdpr/model_type" value="$(arg model_type)"/>

  <env name="GAZEBO_MODEL_PATH" value="$(find cdpr_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)"/>
  <env name="GAZEBO_PLUGIN_PATH" value="$(find cdpr_gazebo)/../../devel/lib:$(optenv GAZEBO_PLUGIN_PATH)"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find cdpr_gazebo)/worlds/cdpr_world.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
  </include>
</launch>
